<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
     <!-- the below is needed to implement the hamburger menu
     I'm going to need to listen to the click event and then use css to hide or show the menu.  -->
    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navHamburgerMenu">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button> -->
    <div class="navbar-light">
      <!-- The below line will be needed when I add the hamburger menu to the page -->
    <!-- <div class="collapse navbar-collapse" id="navHamburgerMenu"> -->
      <ul class="nav navbar-nav">
        <li><a href="#" class="dropdown-item">Recipes</a></li>
        <li><a href="#" class="dropdown-item">Shopping List</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a herf="#" class="dropdown-toggle dropdown-item" role="button">Manage</a>
            <ul class="dropdown-menu">
              <li><a href="#" class="dropdown-item"> Save Data</a></li>
              <li><a href="#" class="dropdown-item"> Get Data</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</nav>
